# Rust Cargo files
/target/
Cargo.lock
*/gen
/src/gen/*.rs
!src/gen/mod.rs
# IDE/Editor specific files
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Operating System files
Thumbs.db

# Sensitive files (if applicable, add more as needed)
 .env
 config.toml.local
